<div class="row">
    <div class="col-12">
        <div class="card my-4 pb-3">
            <app-basic-card [config]="commentsData[0]?.data?.children[0]?.data" (clickEvent)="openCommentsPage($event)"></app-basic-card>            
             <div class="rowm-0">
                 <div class="col-12">
                     <div class="card p-4 d-flex justify-content-between border-0">
                         <input class="form-control" placeholder="What ae your thoughts?">
                        <div class="btn btn-primary">POST</div>
                     </div>
                 </div>
             </div>
            <!-- <basic-card></basic-card> -->
            <ul class="tree">
                <ng-container *ngFor="let commnet of commentsData[1]?.data?.children; 
                let commentIndex = index">
                <li *ngIf="showReplies >= commentIndex">
                <div class="d-flex pl-3">
                    <div class="row">
                        <div class="col-12 author-info mb-1">
                                <span>{{commnet?.data?.author}}</span>
                                <span class="pl-2">{{redditService?.nFormatter(commnet?.data?.score)}} Points</span>
                        </div>
                        <div class="col-12">
                                <span>{{commnet?.data?.body}}</span>
                        </div>
                    </div>
                </div>
              </li>
            </ng-container>
            <span class="ml-3 mt-3 more-rep" (click)="showMoreReplies()" 
            *ngIf="commentsData[1]?.data?.children?.length>0 && (commentsData[1]?.data?.children?.length - showReplies)>0">{{commentsData[1]?.data?.children?.length - showReplies}} more replies</span>
                <!-- <ul *ngIf="commnet?.data?.permalink" *ngFor="let nestedComment of ">
                    <li></li>
                </ul> -->
            </ul>
        </div>
    </div>
</div>